@use "mixins" as *;
@use "variables" as *;

header {
  h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    text-shadow: $text-shadow;
    letter-spacing: -0.06rem;
    cursor: default;

    .sub-text {
      font-weight: 400;
      font-size: 2rem;
    }
  }

  @include md {
    h1 {
      font-size: 1.8rem;
      .sub-text {
        font-size: 1.6rem;
      }
    }
  }
}
